<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sara y Doniel</title>
    <link rel="stylesheet" href="../estilos/info.css">
    <script src="../script/info.js" defer></script>
</head>
<body>
    <div class="layout">
        <header>
            <div class="image"></div>
            <nav>
                <a class="flechAtras" href="../index.html"></a>
                <div class="idiomas">
                    <a href="#" data-lang="es">
                        <img src="../img/banderaEspania.svg" alt="Español">
                    </a>
                    <a href="#" data-lang="it">
                        <img src="../img/banderaItalia.svg" alt="Italiano">
                    </a>
                </div>
            </nav>
            <div class="contenedor">
                <h1 id="titulo">¿Dónde y cuándo?</h1>
                <time datetime="2026-12-05" id="fecha">05 de Diciembre de 2026</time>
                <p id="mensaje1">Terraza del restaurante Barracuda</p>
                <div class="cta">
                    <a href="#confirmacion" class="btn-confirmar" id="conf">Confirmar asistencia</a>
                    <a href="#confirmacion" class="flecha"></a>
                </div>
            </div>
        </header>
        <main>
            <section class="info1">
                <div class="cajaImg">
                    <p id="tiFoto">Entrada del restaurante Barracuda</p>
                    <img src="../img/entradaBarracuda.jpg" alt="imagen de la entrada del restaurante Barracuda">
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3518.583787408565!2d-15.430782123717975!3d28.12871117594358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc4095b74a0efa3f%3A0xd8eb16f4a02d0d1f!2sRestaurante%20Barracuda%20Las%20Palmas!5e0!3m2!1ses!2ses!4v1780235507458!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>

            <section class="info2">
                <p id="pp1">Lo más importante para nosotros es poder compartir este día tan especial con ustedes y celebrar juntos un momento que recordaremos siempre.</p>
                <p id="pp2">Por eso hemos preparado una celebración tipo cóctel pensada para disfrutar, brindar y crear recuerdos inolvidables: varios entrantes, paella y 5 horas de barra libre.</p>
                <p id="pp3">La aportación para asistir será de 70€ por persona. Su presencia es el mejor regalo que podemos recibir, así que no hace falta ningún otro detalle.</p>
                <p id="pp4">Les dejamos aquí nuestro número de cuenta:</p>
                <p id="pp5">ES09 0182 6097 7102 0156 8286</p>
            </section>

            <section id="confirmacion" class="rsvp">
                <h2 id="pp6">Por favor confirmar asistencia</h2>
                <p class="subtitulo" id="pp7">¡Solo te llevará un minuto!</p>

                <form id="formulario-rsvp" action="https://script.google.com/macros/s/AKfycbzNo4paQQEiIi9NG1lRZ14iE0fkUC145vP-DQ4ZYLWz8xwID_zZdzfv-ixJXU10rmBO/exec" method="POST">
                    <div class="campo">
                        <label id="pp8">Invitados</label>
                        <input type="text" name="invitado1" id="placeholder1" placeholder="Nombre y apellido" required>
                        <input type="text" name="invitado2" id="placeholder2" placeholder="Segundo invitado (opcional)">
                        <input type="text" name="invitado3" id="placeholder3" placeholder="Tercer invitado (opcional)">
                    </div>

                    <div class="campo">
                        <label id="pp9">¿Vendrás a celebrar con nosotros?</label>
                        <div class="radio-group">
                            <label>
                                <input type="radio" name="asistencia" value="Sí" required>
                                <span id="rad1">Sí</span>
                            </label>
                            <label>
                                <input type="radio" name="asistencia" value="No">
                                <span id="rad2">No</span>
                            </label>
                        </div>
                    </div>

                    <div id="info-si" style="display: none;">
                        <label id="alergias">Intolerancias, alergias, vegetariano o vegano</label>
                        <textarea name="alergias" rows="5" placeholder="Indícanos cualquier necesidad alimentaria"></textarea>
                    </div>

                    <button type="submit" id="boton">Enviar respuesta</button>
                </form>

                <div id="gracias" style="display: none;">
                    <h3 id="gracias1">Gracias por confirmarnos tu asistencia</h3>
                </div>
            </section>

            <section class="album-boda">
                <h2 id="fot1">Comparte tus fotos</h2>
                <p id="fot2">Ayúdanos a guardar los recuerdos más especiales de este día. Comparte aquí las fotos y vídeos de esos momentos que merezca la pena recordar. ❤️</p>
                <a href="https://web.dotstheapp.com/a?group=2506834&dlBy=donieljpr&code=vu6rLLTHwN8D&utm_source=guest&utm_medium=share&utm_campaign=guest_event_album&force_app=1" target="_blank" class="btn-subir" id="fot3">Subir fotos</a>
            </section>

            <section class="section-info">
                <article class="info3">
                    <h3 id="dudas">¿Tienes alguna duda?</h3>
                    <p id="dudas2">Una vez más te damos gracias por formar parte de esto, si tienes alguna duda o necesitas hablar con nosotros aquí tienes nuestros números:</p>
                    <p>Sara: +34 600002472</p>
                    <p>Doniel: +34 622352373</p>
                </article>
            </section>
        </main>
    </div>
</body>
</html>